aiodns==2.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
crc16==0.1.1
elasticsearch==7.12.0
fake-useragent==0.1.11
geographiclib==1.50
geopy==2.1.0
googletransx==2.4.2
idna==2.10
lxml==4.6.3
multidict==5.1.0
numpy==1.20.2
pandas==1.2.4
psutil==5.8.0
pycares==3.1.1
pycparser==2.20
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.17.0
python-redis==0.2.2
python-socks==1.2.4
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
redislite==6.0.674960
requests==2.25.1
schedule==1.1.0
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
twint==2.1.20
typing-extensions==3.7.4.3
urllib3==1.26.4
xmltodict==0.12.0
yarl==1.6.3
